{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='mystyle.css')}}">
{% endblock %}

{% block body %}
<body>


<div id="Your Courses" >
  <h3>Your Courses</h3>
  <h2>Hello {{teacher.name}}!</h2>
  <table>
    <thead>
    <tr>
      <th>Course</th>
      <th>Teacher</th>
      <th>Time</th>
      <th>Students Enrolled</th>
    </tr>
    {% for c in courses%}
    <tr>
      <td><a href="/courses/{{courses[c]['id']}}">{{courses[c]['cName']}}</a></td>
      <td>{{courses[c]['tName']}}</td>
      <td>{{courses[c]['time']}}</td>
       <td>{{courses[c]['enrolled']}}/{{courses[c]['capacity']}}</td>
    </tr>
    {% endfor %}
  </table>

</div>

<br>
<button class="button"><a href="{{url_for('logout')}}">Logout</a></button>


</body>

<script src="{{url_for('static', filename='teacher.js')}}"></script>

{% endblock %}